/***** BASE STYLES *****/
body{
  font-family: 'Libre Baskerville', serif;
  font-family: 'Fugaz One', cursive;
  font-family: 'Sigmar One', cursive;
  font-family: 'Sriracha', cursive;




}
 #about, #portfolio, #contact {
    height: 600px;
}


/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    background-color: #576e49;
}
.half-width{
    width: 600px;
    float: left;
}
.third-width{
    width:400px;
    float: left;
}
.h3-container{
   text-align: center;
}
.my-bad-pic-container{
align: center;
}


/*****header*****/
header {
    height: 120px;
}
nav {
    float: right;
    padding: 1em;
    background-color:lightgrey;
    border-radius: 20px;
    border-width:4px;



}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #824282;
    padding-left: 30px;
    padding-right: 30px;

}

h1 {
  width:750px;
  font-size:48px;
  color:#822282;
  font-family: 'Sriracha', cursive;
  padding-top: 100px;
  padding-left:200px;
  text-align:center;
}
span {
  color:#427519;

}
h2 {
text-align: center;
color:#822282;
  width: 100%;
  height:100px;
    float:left;
}
img{
    padding-left: 570px;

}
h3{
color:#822282;
    padding-bottom: 20px;
  }
p{
  color:#822282;
  width:600px;
  text-align: center;

}
body{
  background: #94d4e8;
